.Projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.Title{
    position: relative;
}
.Title h1{
    font-size: 80px;
    font-weight: 800;
    padding: 0 30px;
}
.Title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.projctformat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: .4s;
    cursor:  pointer;
    font-size: 20px;
}
.Pcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 20px;
}
.hide{
    display: none;
}

.projctformat h2{
    font-size: 38px;
    font-weight: 900;
    background: linear-gradient(270deg ,orange 50%, purple 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.projctformat p{
    color:white;
    font-size: 24px;
    line-height: 40px;
    max-width: 350px;
}
.projctformat:hover{

    border: 2px solid greenyellow;
    background-image: linear-gradient(45deg, rgb(0, 107, 128) 40% ,rgb(69, 41, 41) 100%);
    transform: scale(1.1);
    transition: 1s;
}