.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}
.Listt{
    display: flex;
    margin-left: 15px;
    
}
.Listt  li{
    margin:20px;
    list-style:none;
    font-size: 20px;
}

.Connect{
        background: linear-gradient(to right, #ff7e5f, #feb47b);
        border: none;
        border-radius: 25px;
        color: white;
        padding: 15px 30px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: background 0.3s, transform 0.3s;
}
.Connect:hover {
    background: linear-gradient(to right, #feb47b, #ff7e5f);
    transform: scale(1.05);
  }
  .AnchorTab{
    text-decoration: none;
    color: white;
  }